:root {
  /* プロトタイピング用 */
  --bg-color-main: #fcfaf2;
  --bg-color-sub-1: #91989f;
  --bg-color-sub-2: #7b90d2;
  --font-color-main: #0c0c0c;
  --font-color-sub-1: #fcfcfc;
}

/* エントランス画面ここから */

/* エントランス画面ここまで */

/* ゲーム画面ここから */

/* ゲーム画面ここまで */
