/* 共通ここから */
:root {
  --bg-color-white: #fcfaf2;
  --bg-color-blue: #81c7d4;
  --font-color-black: #0c0c0c;
  --font-color-white: #fcfcfc;
  --border-color-main: #0c0c0c;
}

.layout {
  background-color: var(--bg-color-blue);
  display: flex;
  justify-content: center;
  font-family: "Shippori Mincho", serif;
}

.hidden {
  display: none !important;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  padding: 12px;
  color: var(--font-color-white);
  font-weight: 600;
}
/* 共通ここまで */

/* エントランス画面ここから */
.entrance {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 16px;
  padding: 32px;
  margin-top: 180px;
}

.entrance_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: var(--font-color-white);
  font-size: 48px;
  font-weight: 600;
}

.entrance_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 160px;
}

.entrance_buttons_button {
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  width: 100%;
  background-color: var(--bg-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  padding: 32px;
  margin-top: 180px;
}

.explanation_header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.explanation_header_title {
  color: var(--font-color-white);
  font-size: 36px;
  font-weight: 600;
}

.explanation_text {
  color: var(--font-color-white);
}

.fa-solid {
  color: var(--font-color-white);
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
}
/* エントランス画面ここまで */

/* ゲーム画面ここから */
.game {
  display: flex;
  gap: 20px;
  margin-top: 70px;
}

.game_canvas {
  background-color: #bdc0ba;
  border: 4px solid #707c74;
}

.game_controller {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.game_controller_score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: full;
  font-size: 36px;
  padding: 18px 12px;
  background-color: var(--bg-color-white);
  border-radius: 6px;
}

.game_controller_buttons {
  display: flex;
  gap: 12px;
}

.game_controller_buttons_button {
  height: fit-content;
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  background-color: var(--bg-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_controller_buttons_button:disabled {
  background-color: #fcfaf2c5;
}
/* ゲーム画面ここまで */
