/* 共通ここから */
:root {
  /* プロトタイピング用 */
  --bg-color-main: #fcfaf2;
  --bg-color-sub-1: #91989f;
  --bg-color-sub-2: #7b90d2;
  --font-color-main: #0c0c0c;
  --font-color-sub-1: #fcfcfc;
  --border-color-main: #0c0c0c;
  font-family: 'Shippori Mincho', serif;
}

.layout {
  background-color: #3A8FB7;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.hidden {
  display: none !important;
}
/* 共通ここまで */

/* エントランス画面ここから */
.entrance {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 16px;
  padding: 32px;
  margin-top: 160px;
}

.entrance_title {
  color: var(--font-color-sub-1);
  font-size: 44px;
  font-weight: 600;
}

.entrance_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 160px;
}

.entrance_buttons_button {
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  width: 100%;
  background-color: var(--bg-color-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  padding: 32px;
  margin-top: 160px;
}

.explanation_header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.explanation_header_title {
  color: var(--font-color-sub-1);
  font-size: 28px;
  font-weight: 600;
}

.explanation_text {
  color: var(--font-color-sub-1);
}

.fa-solid {
  color: var(--font-color-sub-1);
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
}
/* エントランス画面ここまで */

/* ゲーム画面ここから */
.canvas {
  background-color: var(--bg-color-sub-1);
  border: 4px solid var(--border-color-main);
  margin-top: 40px;
}
/* ゲーム画面ここまで */
